n8n_blueprints/email_password_reset_blueprint.json
{
  "name": "Email Quên Mật Khẩu - Phúc Đạt",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "password-reset",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-password-reset",
      "name": "Webhook - Password Reset",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "password-reset-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "to_email",
              "name": "to_email",
              "value": "={{ $json.body.to_email }}",
              "type": "string"
            },
            {
              "id": "subject",
              "name": "subject",
              "value": "={{ $json.body.subject }}",
              "type": "string"
            },
            {
              "id": "html_content",
              "name": "html_content",
              "value": "={{ $json.body.html_content }}",
              "type": "string"
            },
            {
              "id": "text_content",
              "name": "text_content",
              "value": "={{ $json.body.text_content }}",
              "type": "string"
            },
            {
              "id": "reset_link",
              "name": "reset_link",
              "value": "={{ $json.body.metadata.reset_link }}",
              "type": "string"
            },
            {
              "id": "user_name",
              "name": "user_name",
              "value": "={{ $json.body.metadata.user_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-data",
      "name": "Set - Lấy dữ liệu",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "fromEmail": "noreply@phucdat.com",
        "toEmail": "={{ $json.to_email }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.html_content }}",
        "options": {
          "text": "={{ $json.text_content }}"
        }
      },
      "id": "email-send",
      "name": "Gửi Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [650, 300],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Email đã được gửi thành công\", \"to\": $json.to_email } }}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook - Password Reset": {
      "main": [
        [
          {
            "node": "Set - Lấy dữ liệu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Lấy dữ liệu": {
      "main": [
        [
          {
            "node": "Gửi Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gửi Email": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-01-01T00:00:00.000Z",
  "versionId": "1"
}


