n8n_blueprints/email_unified_blueprint.json
{
  "name": "Email Unified - Phúc Đạt (Tất cả loại email)",
  "meta": {
    "templateCredsSetup": true,
    "instanceId": "7xQoffxB4DjOeeNq"
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "email",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-unified",
      "name": "Webhook - Unified",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "unified-email-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "to_email",
              "name": "to_email",
              "value": "={{ $json.body.to_email }}",
              "type": "string"
            },
            {
              "id": "subject",
              "name": "subject",
              "value": "={{ $json.body.subject }}",
              "type": "string"
            },
            {
              "id": "html_content",
              "name": "html_content",
              "value": "={{ $json.body.html_content }}",
              "type": "string"
            },
            {
              "id": "text_content",
              "name": "text_content",
              "value": "={{ $json.body.text_content }}",
              "type": "string"
            },
            {
              "id": "email_type",
              "name": "email_type",
              "value": "={{ $json.body.email_type }}",
              "type": "string"
            },
            {
              "id": "metadata",
              "name": "metadata",
              "value": "={{ $json.body.metadata }}",
              "type": "object"
            },
            {
              "id": "attachments",
              "name": "attachments",
              "value": "={{ $json.body.attachments || [] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "set-data",
      "name": "Set - Lấy dữ liệu",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "password-reset",
              "leftValue": "={{ $json.email_type }}",
              "rightValue": "password_reset",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "quote",
              "leftValue": "={{ $json.email_type }}",
              "rightValue": "quote",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "password-change",
              "leftValue": "={{ $json.email_type }}",
              "rightValue": "password_change_confirmation",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "notification",
              "leftValue": "={{ $json.email_type }}",
              "rightValue": "notification",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "switch-email-type",
      "name": "Switch - Phân loại Email",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Xử lý attachments từ base64 (bao gồm inline attachments với CID)\n// Format cho n8n Email Send node (nodemailer)\n// Nếu CID không hoạt động, sẽ embed base64 vào HTML\nconst inputData = $input.item.json;\nlet htmlContent = inputData.html_content || inputData.body?.html_content || '';\nconst attachments = inputData.attachments || inputData.body?.attachments || [];\nconst processedAttachments = [];\n\nconsole.log('📎 Total attachments to process:', attachments.length);\n\n// Kiểm tra nếu không có attachments\nif (!attachments || attachments.length === 0) {\n  console.log('ℹ️ No attachments to process');\n  return {\n    ...inputData,\n    processedAttachments: []\n  };\n}\n\nfor (const att of attachments) {\n  try {\n    // Kiểm tra content có tồn tại không\n    if (!att.content) {\n      console.warn(`⚠️ Attachment ${att.name || 'unknown'} has no content, skipping`);\n      continue;\n    }\n    \n    // Nếu là inline attachment với CID, có 2 cách:\n    // 1. Gửi như inline attachment (ưu tiên)\n    // 2. Embed base64 vào HTML (fallback nếu CID không hoạt động)\n    if (att.inline && att.cid) {\n      // Thử decode base64 để kiểm tra\n      let buffer;\n      try {\n        buffer = Buffer.from(att.content, 'base64');\n      } catch (decodeError) {\n        console.error(`❌ Failed to decode base64 for ${att.name || 'unknown'}:`, decodeError.message);\n        continue;\n      }\n      \n      if (!buffer || buffer.length === 0) {\n        console.warn(`⚠️ Attachment ${att.name || 'unknown'} has empty buffer, skipping`);\n        continue;\n      }\n      \n      // Tạo data URI để embed vào HTML (fallback)\n      const dataUri = `data:${att.mimeType || 'image/jpeg'};base64,${att.content}`;\n      \n      // Replace CID trong HTML với data URI (đảm bảo logo hiển thị)\n      // Giữ cả hai: gửi attachment VÀ embed vào HTML\n      const cidPattern = new RegExp(`cid:${att.cid.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&')}`, 'gi');\n      if (cidPattern.test(htmlContent)) {\n        htmlContent = htmlContent.replace(cidPattern, dataUri);\n        console.log(`📷 Replaced CID ${att.cid} with base64 data URI in HTML`);\n      }\n      \n      // Vẫn thêm vào attachments để thử gửi như inline attachment\n      const attachmentObj = {\n        filename: att.name || 'attachment',\n        content: buffer,\n        contentType: att.mimeType || 'application/octet-stream',\n        cid: att.cid // Thử với CID\n      };\n      \n      processedAttachments.push(attachmentObj);\n      console.log(`📷 Added inline attachment with CID: ${att.cid} (${att.name || 'unknown'})`);\n    } else {\n      // Regular attachment\n      let buffer;\n      try {\n        buffer = Buffer.from(att.content, 'base64');\n      } catch (decodeError) {\n        console.error(`❌ Failed to decode base64 for ${att.name || 'unknown'}:`, decodeError.message);\n        continue;\n      }\n      \n      if (!buffer || buffer.length === 0) {\n        console.warn(`⚠️ Attachment ${att.name || 'unknown'} has empty buffer, skipping`);\n        continue;\n      }\n      \n      const attachmentObj = {\n        filename: att.name || 'attachment',\n        content: buffer,\n        contentType: att.mimeType || 'application/octet-stream'\n      };\n      \n      processedAttachments.push(attachmentObj);\n      console.log(`📎 Added regular attachment: ${att.name || 'unknown'}`);\n    }\n  } catch (error) {\n    console.error(`❌ Error processing attachment ${att.name || 'unknown'}:`, error.message);\n  }\n}\n\nconsole.log(`✅ Processed ${processedAttachments.length} out of ${attachments.length} attachments`);\n\n// Log để debug\nif (processedAttachments.length > 0) {\n  processedAttachments.forEach((att, idx) => {\n    console.log(`  [${idx}] ${att.filename} - CID: ${att.cid || 'none'} - Size: ${att.content.length} bytes`);\n  });\n}\n\nreturn {\n  ...inputData,\n  html_content: htmlContent, // HTML đã được update với data URI\n  processedAttachments: processedAttachments\n};"
      },
      "id": "process-attachments",
      "name": "Function - Xử lý Attachments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 400]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "fromEmail": "={{ $json.email_type === 'quote' ? 'sales@phucdat.com' : 'noreply@phucdat.com' }}",
        "toEmail": "={{ $json.to_email || $json.body?.to_email || '' }}",
        "subject": "={{ $json.subject || $json.body?.subject || 'Quote Email' }}",
        "emailType": "html",
        "message": "={{ $json.html_content || $json.body?.html_content || '' }}",
        "options": {
          "text": "={{ $json.text_content || $json.body?.text_content || '' }}",
          "attachments": "={{ $json.processedAttachments || [] }}"
        }
      },
      "id": "email-send-quote",
      "name": "Gửi Email Báo Giá",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1050, 400],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "fromEmail": "noreply@phucdat.com",
        "toEmail": "={{ $json.to_email || $json.body?.to_email || '' }}",
        "subject": "={{ $json.subject || $json.body?.subject || 'Password Reset' }}",
        "emailType": "html",
        "message": "={{ $json.html_content || $json.body?.html_content || '' }}",
        "options": {
          "text": "={{ $json.text_content || $json.body?.text_content || '' }}"
        }
      },
      "id": "email-send-password",
      "name": "Gửi Email Password",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1050, 300],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "fromEmail": "noreply@phucdat.com",
        "toEmail": "={{ $json.to_email || $json.body?.to_email || '' }}",
        "subject": "={{ $json.subject || $json.body?.subject || 'Password Change Confirmation' }}",
        "emailType": "html",
        "message": "={{ $json.html_content || $json.body?.html_content || '' }}",
        "options": {
          "text": "={{ $json.text_content || $json.body?.text_content || '' }}"
        }
      },
      "id": "email-send-confirmation",
      "name": "Gửi Email Xác Nhận",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1050, 500],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "fromEmail": "noreply@phucdat.com",
        "toEmail": "={{ $json.to_email || $json.body?.to_email || '' }}",
        "subject": "={{ $json.subject || $json.body?.subject || 'Thông báo' }}",
        "emailType": "html",
        "message": "={{ $json.html_content || $json.body?.html_content || '' }}",
        "options": {
          "text": "={{ $json.text_content || $json.body?.text_content || '' }}",
          "attachments": "={{ $json.processedAttachments || [] }}"
        }
      },
      "id": "email-send-notification",
      "name": "Gửi Email Thông Báo",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1050, 600],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": "=true",
              "type": "boolean"
            },
            {
              "id": "message",
              "name": "message",
              "value": "=Email đã được gửi thành công",
              "type": "string"
            },
            {
              "id": "to",
              "name": "to",
              "value": "={{ $json.to_email }}",
              "type": "string"
            },
            {
              "id": "email_type",
              "name": "email_type",
              "value": "={{ $json.email_type }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-response",
      "name": "Set - Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 400]
    }
  ],
  "connections": {
    "Webhook - Unified": {
      "main": [
        [
          {
            "node": "Set - Lấy dữ liệu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Lấy dữ liệu": {
      "main": [
        [
          {
            "node": "Switch - Phân loại Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - Phân loại Email": {
      "main": [
        [
          {
            "node": "Gửi Email Password",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Function - Xử lý Attachments",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gửi Email Xác Nhận",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gửi Email Thông Báo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - Xử lý Attachments": {
      "main": [
        [
          {
            "node": "Gửi Email Báo Giá",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gửi Email Báo Giá": {
      "main": [
        [
          {
            "node": "Set - Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gửi Email Password": {
      "main": [
        [
          {
            "node": "Set - Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gửi Email Xác Nhận": {
      "main": [
        [
          {
            "node": "Set - Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gửi Email Thông Báo": {
      "main": [
        [
          {
            "node": "Set - Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-01-01T00:00:00.000Z",
  "versionId": "1"
}

